@model Reminder.ViewModels.MyRemindersViewModel

@{
    ViewBag.Title = "My Reminders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Reminders</h2>
<div>@Html.ActionLink("Create Reminder", "Create", "Reminders")</div>

<table style="width:100%">
    <thead>
        <tr class ="text-uppercase">
            <th>Title</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var reminderItem in Model.MyReminders)
    {
        var textclass = "text-success";
        var daysRemaining = (reminderItem.DueDate - DateTime.Now).Days;
        if (daysRemaining <= 1) { textclass = "text-danger"; }
        else if (daysRemaining <= 3) { textclass = "text-warning"; }        
        <tr class ="@textclass">
            <th>@reminderItem.Title</th>
            <th>@reminderItem.DueDate.ToString("dd MMMM yyyy")</th>
            <th class ="btn-group-xs">
                @Html.ActionLink("View", "Details", "Reminders", new { id = reminderItem.Id }, new {@class = "btn-link"})
                @Html.ActionLink("Edit", "Edit", "Reminders", new { id = reminderItem.Id }, new { @class = "btn-link" })
                @Html.ActionLink("Delete", "Delete", "Reminders", new { id = reminderItem.Id }, new { @class = "btn-link" })
            </th>
        </tr>
    }
</table>


